.chef{
    height:auto;
    width:400px;
}
.button{
    border:3px solid black;
}
.button.cheesecake{
    background-color:gold;
    width:25%;
    text-align: center;
    font-size:18px;
    font-weight:bold;
}
.button.garlic{
    background-color:green;
    width:25%;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}
.button.parm{
    background-color:red;
    width:25%;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}
.button.top{
    background-color:white;
    color:white;
    width:25%;
    font-weight:bold;
}
.nutrition{
    border: 2px solid black;
    margin: 2px;
    padding:2px;
    width:20%;
    background-color:yellow;
}
.nutritcake{
    font-size:18px;
    text-align:center;
    font-weight:bold;
}
.quickinfo{
    border:2px solid black;
    margin:2px;
    padding:2px;
    width:20%;
}